*:focus{
  outline: 5px dotted blue;
};

.registerForm input{
  padding: 40px;
}

::placeholder {
  color: rgb(91, 91, 104)
}


.login-container {
  display: flex;
  justify-content: center;   /* Horizontal center */
  align-items: center;       /* Vertical center */
  height: 100vh;             /* Full screen height */
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}


body{
  justify-content: center;
}
